/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b91450;
}

h1, h2{
    text-align: center;
    color: white;
}

.input_field{
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}

.ticket_box{
    background-color: #fff;
    width: 80%;
    margin: auto;
    display: none;
}
.ticket_info{
    display: flex;
    justify-content: flex-start;
}
.tile{
    display: inline-block;
    width: 15%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
}

.ticket_box.open{
    display: block;
}